@import "./reset.css";

body{
    background: #0a0b07;
    color: whitesmoke;
}

.movies{
    position: absolute;
    display: grid;
    padding-top: 50px;
}

.grid_3{
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.grid_5{
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.movie__poster{
    filter: drop-shadow(4px 4px 4px #000);
}

.movie__data{
    margin-top: 10px;
}

.movie_box{
    margin-bottom: 30px;
}

.movie__rating{
    font-size: 85%;
    font-weight: bold;
    color: rgb(240, 167, 9);
}

.movie__title{
    padding-top: 10px;
}